.img-container {
  background-image: url("../../assets/images/hotel-room.jpg");
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin:10px;
}
